.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(216, 38, 112);
}
.buy-now-button{
    padding: 10px 30px;
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 40px;
    border-radius: 10px;
}
.cat-1{
    background-color: #FF9C35;
}
.cat-2{
    background-color: #FF589B;
}
.cat-3{
    background-color: #4289FF;
}
.categories h1{
    color: white;
}
.categories img{
    width: 80px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer p{
    text-align: center;
}